h1 {
    /* font-family: Lora, serif; */
}

.blue-green {
    background-image: linear-gradient(120deg, #84fab0 0, #8fd3f4 100%);
}

.underline {
    background-repeat: no-repeat;
    background-size: 100% .25em;
    background-position: 0 75%;
    transition: all .25s ease-in;
}

a.minimal:hover {
    color: var(--link-color);
}